// $color:rgb(128, 0, 0);
$colors: (
  danger: (
    100: hsl(0, 100%, 70%),
    200: hsl(0, 100%, 60%),
    300: hsl(0, 100%, 55%),
    400: hsl(0, 100%, 50%)
  ),
  success: (
    100: hsl(157, 100%, 75%),
    200: hsl(157, 100%, 70%),
    300: hsl(157, 100%, 65%),
    400: hsl(157, 100%, 60%)
  ),
  primary: (
    100: hsl(240, 100%, 70%),
    200: hsl(240, 100%, 60%),
    300: hsl(240, 100%, 55%),
    400: hsl(240, 100%, 50%)
  ),
  warning: (
    100: hsl(39, 100%, 70%),
    200: hsl(39, 100%, 60%),
    300: hsl(39, 100%, 55%),
    400: hsl(39, 100%, 50%)
  ),
  darkblue: (
    100: #191c2f,
    200: #141725,
    300: #1d1d1d,
    400: #121212
  ),
  black: (
    100: hsl(20, 0%, 30%),
    200: hsl(20, 0%, 25%),
    300: hsl(20, 0%, 20%),
    400: hsl(20, 0%, 15%)
  ),
  white: (
    100: hsl(20, 70%, 97%),
    200: hsl(20, 70%, 98%),
    300: hsl(20, 70%, 99%),
    400: hsl(20, 70%, 100%)
  )
);
