{
    "tabWidth": 2,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "quoteProps": "consistent",
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "arrowParens": "always"
}